Repository volvinbur1/docs-chain, pull requests merged in 2022-05, with the labels that each got.

#8 Added backend implemenatation
  .gitignore
  cmd/docs-chain/main.go
  go.mod
  go.sum
  src/backend/backend.go
  src/central/central.go
  src/common/common.go
  src/storage/db.go
  web/html/index.html
  web/html/paper_upload_page.html
  web/static/css/paper_upload_page.css
  web/static/js/paper_upload_page.js
Labels: enhancement, back-end

#9 Added alti-plagiarism algorithm
  go.mod
  go.sum
  src/analyzer/analyzer.go
  src/analyzer/common.go
  src/analyzer/dispatcher.go
  src/analyzer/worker.go
  src/backend/backend.go
  src/central/central.go
  src/central/qrcode.go
  src/common/common.go
  src/storage/db.go
Labels: enhancement, anti-plagiarism, back-end

#10 Blockchain interaction
  cmd/docs-chain/main.go
  go.mod
  go.sum
  internal/blockchainresponse/blockchain_response.go
  internal/blockchainresponse/nftImage_response.go
  internal/bodyresponse/bodyresponse.go
  src/blockchain/blockchain.go
  src/blockchain/blockchain_structs.go
  src/blockchain/config.go
  src/blockchain/nftImage.go
  src/common/common.go
  src/ipfs/ipfs.go
Labels: enhancement, IPFS, blockchain, back-end

#14 Fixed error with file upload using js
  src/analyzer/analyzer.go
  src/backend/backend.go
  src/central/central.go
  src/common/common.go
  web/html/paper_upload_page.html
  web/static/js/paper_upload_page.js
Labels: bug, enhancement, front-end

#19 Revuild nft upload system
  src/blockchain/config.go
  src/blockchain/nftImage.go
  src/central/central.go
  src/central/qrcode.go
  src/common/common.go
  src/ipfs/ipfs.go
Labels: bug, blockchain

#20 Antiplagiarism bug fix
  .gitignore
  go.mod
  go.sum
  src/analyzer/analyzer.go
  src/analyzer/analyzer_test.go
  src/analyzer/common.go
  src/analyzer/test_data/test1.pdf
  src/storage/db.go
Labels: bug, anti-plagiarism, back-end
